*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
:root{
    --text-color: #000000;
    --white: #fafafa;
    --main-color: #f3f3f3;
    --bg: #145771;
    --sky: #c8d9e6;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1rem;
    padding: 2rem 8rem;
    background-color: #000000;

}
header .logo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}
ul.navbar {
    list-style: none;      
    margin: 0;          
    padding: 0;            
    display: flex;         
    gap: 3rem;            
    align-items: center;
}
ul.navbar li {
    margin: 0;
}
ul.navbar a {
    font-family: 'Playfair Display', serif;
    display: block;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}
.card-title {
    padding-top: 1rem;
    padding-left: 4rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}
.card-img-overlay {
    padding-left: 3rem;
}
.card-title {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}

.list-group-item.list-group-item-action.list-group-item-light{
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 2rem 2rem;
    border-bottom: 1px solid var(--bg);
    width: 500px;
}
.list-group {
    margin-left: 6rem;
    padding-top: 3rem;
}
.ethics1 {
    padding: 5rem 5rem;
    background-image: linear-gradient(to right, white 50%, black 50%);
}
.text1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.des1 {
    font-size: 20px;
}
.des2 {
    font-size: 20px;
    color: white;
}
.eth2{
    color: white;
}
.sides{
    display: flex;
    align-items: stretch;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
    padding-left: 5rem;

}
