*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
:root{
    --text-color: #000000;
    --white: #fafafa;
    --main-color: #f3f3f3;
    --bg: #145771;
    --sky: #c8d9e6;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1rem;
    padding: 2rem 8rem;
    background-color: #07131f;

}
header .logo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}
ul.navbar {
    list-style: none;      
    margin: 0;          
    padding: 0;            
    display: flex;         
    gap: 3rem;            
    align-items: center;
}
ul.navbar li {
    margin: 0;
}
ul.navbar a {
    font-family: 'Playfair Display', serif;
    display: block;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}
.card-img-overlay {
    padding-left: 3rem;
}
.card-title {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}

.list-group-item.list-group-item-action.list-group-item-light{
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 2rem 2rem;
    border-bottom: 1px solid var(--bg);
    width: 500px;
}
.list-group {
    margin-left: 6rem;
    padding-top: 3rem;
}
.question1 {
    background-color: #fdfdfd;
}
.card-body1 {
    background-color: #fdfdfd;
}
.card-title1 {
    color: #001e31;
}
.card-text1 {
    color: #001e31;
    font-size: 20px;
}
.card1 {
    background-color: #fdfdfd;
    padding: 7rem 7rem;
}
.question2 {
    background-color: #001e31;
}
.card-body2 {
    background-color: #001e31;
}
.card-title2 {
    color: white;
}
.card-text2 {
    color: white;
}
.card2 {
    padding: 7rem 7rem;
}
.example-row {
    display: flex;
}
.card-container {
    padding: 1rem 6rem;
    display: grid;
    grid-template-columns: 450px 450px 450px 450px;
}
.text {
    padding: 4rem 6rem;
}
.question4 {
    background-color: #000000;
    padding: 2rem 2rem;
}
.card-group {
    color: #000000;
    padding: 1rem 5rem;
}
.text1 {
    padding: 4rem 6rem;
    color: white;
}
.card-title4 {
    font-weight: 400px;
}
.card-text4 {
    font-size: 20px;
}
.question5 {
    display: flex;
    gap: 5rem;
    padding: 5rem 5rem;
    background-image: linear-gradient(to right, white 50%, black 50%);
}
.right {
    padding-left: 5rem;
}
.text2 {
    padding-bottom: 2rem;
    align-items: center;
}
.text3 {
    color: white;
    padding-bottom: 2rem;
    align-items: center;
}
.blockquote p{
    font-size: medium;
}
