*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}
:root{
    --text-color: hsl(0, 0%, 0%);
    --white: #fafafa;
    --main-color: #f3f3f3;
    --bg: #145771;
    --sky: #c8d9e6;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 1rem;
    padding: 2rem 8rem;
    background-color: #f6f4e2;

}
header .logo{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--bg);
    text-decoration: none;
}
ul.navbar {
    list-style: none;      
    margin: 0;          
    padding: 0;            
    display: flex;         
    gap: 3rem;            
    align-items: center;
}
ul.navbar li {
    margin: 0;
}
ul.navbar a {
    font-family: 'Playfair Display', serif;
    display: block;
    text-decoration: none;
    color: #001e31;
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}
.home {
    padding : 0;
    display: flex;
    background-color:#001e31;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.5;
        align-items: center;
}
.home h1{
    font-size: 3rem;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 1rem;
}
.home h3{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1.5rem;
}
.home p{
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 2rem;
    max-width: 500px;
}
.home .btn{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: var(--navy);
    background-color: var(--white);
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}
.home .btn:hover{
    background-color: var(--sky);
}
.gen {
    flex: 1 1 50%;
    max-width: 100%;
    background-image: url('genai.png');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 0;
}
.gen img {
    width: 1300px;
    height: auto;
    object-fit: cover;
    display: block;
}
.home-text {
    flex: 1 1 50%;
    padding: 6rem 10rem;     
    background-color: #001e31;
    max-width: 100%;
}

